<!DOCTYPE html>
<html>
<head>
    
<h4><center> heyhey </center></h4>


</head>
<body>

<div class="row">
  <div class="col-xs-5 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://inspiringhealth.org.uk/wp-content/uploads/2017/07/3d-abstract_other_just-relax_44940.jpg" alt="UPS">
    </a>
  </div>
  <div class="col-xs-5 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://inspiringhealth.org.uk/wp-content/uploads/2017/07/3d-abstract_other_just-relax_44940.jpg" alt="UPS">
    </a>
  </div>
  <div class="col-xs-5 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://inspiringhealth.org.uk/wp-content/uploads/2017/07/3d-abstract_other_just-relax_44940.jpg" alt="UPS">
    </a>
  </div>
</div>

<!-- Did this duplicated thing to show only 3 thumbnails at the top and 2 under them -->

<div class="row">
  <div class="col-xs-5 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://inspiringhealth.org.uk/wp-content/uploads/2017/07/3d-abstract_other_just-relax_44940.jpg" alt="UPS">
    </a>
  </div>
  <div class="col-xs-5 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://inspiringhealth.org.uk/wp-content/uploads/2017/07/3d-abstract_other_just-relax_44940.jpg" alt="UPS">
    </a>
  </div>
</div>


</body>
</html>


