<!DOCTYPE html>
<html>
<head>
    
<h4> this is the about page, I need to write some shit here</h4>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 80%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("http://inspiringhealth.org.uk/wp-content/uploads/2017/07/3d-abstract_other_just-relax_44940.jpg");

    /* Full height */
    height: 80%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>

<div class="bg"></div>

<%= link_to 'Homepage', root_path %>


</body>
</html>


