



<!DOCTYPE html>
<html>
<body style="background-image:url('https://img.informer.com/articles_uploads/2014/05/windows8wallpaper.com1_.jpg')">

<h2>Background Image</h2>

</body>
</html>

<%= link_to 'About', about_path %>